<section class="py-3 py-md-4 py-lg-5">
    <div class="container py-3 py-md-4 py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <app-title-section>
                    <span blue-text>Share your </span>
                    <span red-text>journey </span>
                    <span blue-second-text>from the beginning to now</span>
                </app-title-section>
                <app-text classes="bigSizeLowWeight gray-4 medium-line-height mb-4 mb-lg-0">
                    Despite being a small team, we believe that our size gives us an advantage, allowing us to be nimble, adaptable, and able to work closely with our clients to deliver truly awesome designs.
                </app-text>
            </div>
            <div class="col-12 col-lg-6">
                <app-journey-step 
                    *ngFor="let journey of journeys; let journeyIndex = index"
                    [journey]="journey"
                    [journeyIndex]="journeyIndex"
                ></app-journey-step>
            </div>
        </div>
    </div>
</section>