@import '/src/_variables';

nav {
    position: fixed;
    z-index: 4;
    img { max-width: 200px; }
    button {
        color: $white-color;
    }
    transition: background-color 0.5s linear;
}

.darkBgColor {
    background-color: $secondary-color-1;
}

@media only screen and (max-width: 991px) {
    nav {
        position: relative;
        background-image: linear-gradient(to right, $secondary-color-1, $secondary-color-4);
        img { width: 140px; }
        a {
            color: $white-color !important;
        }
    }
}