<section 
    class="py-3 py-md-4 py-lg-5">
    <div class="py-3 py-md-4 py-lg-5">
        <div 
            class="container pt-3 pt-md-4 pt-lg-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <app-title-section>
                        <span blue-text>ERP System</span>
                    </app-title-section>
                </div>
            </div>
            <div class="row mb-3 mb-lg-5">
                <div class="col-12 col-lg-8">
                    <app-text classes="bigSizeLowWeight gray-4 medium-line-height mb-3 mb-lg-4">
                        GLOBISOFT provides high quality software product Al-Mongez, backed with proven implementation techniques with best practices, productivity tools, training and consulting support that will yield organizations quick ROI. We covers the full fledge of most companies requirements from a Financial, Distribution, Manufacturing and Human Resources systems utilizing our in- house built-in industry standard ERP's to realize maximum gain out of investments. We succeeded in implementing it in several companies spanning different verticals including and not limited to Retail, Manufacturing, Oil & Gas services, Smart Clubs, Food & Beverage and Hospitals.
                    </app-text>
                    <app-button
                        buttonDesign="specialBtn"
                        buttonType="button"
                        classes="position-relative border-0 p-0 red-bordered-btn me-0 me-lg-3 mb-3 mb-lg-0"
                        btnText="Show More Services"
                        to="/services"></app-button>
                    <app-button
                        buttonDesign="specialBtn"
                        buttonType="button"
                        classes="position-relative border-0 p-0 red-bg-btn"
                        btnText="Get a Quote"
                        to="/home"></app-button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img 
                        src="/assets/images/portfolio/proj-img3.png" 
                        alt="proj-img3" 
                        class="w-100">
                </div>
                <div class="col-12 col-lg-6">
                    <img 
                        src="/assets/images/portfolio/proj-img4.png" 
                        alt="proj-img4" 
                        class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>