<section class="py-3 py-md-4 py-lg-5">
    <div class="py-3 py-md-4 py-lg-5">
        <div class="container pt-3 pt-md-4 pt-lg-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <app-title-section>
                        <span blue-text>Bloom </span>
                        <span red-text>properties </span>
                        <span blue-second-text>website</span>
                    </app-title-section>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <app-text classes="bigSizeLowWeight gray-4 medium-line-height mb-3 mb-lg-5">
                        A real estate website for displaying real estate projects and their details with the ability to search for any property (apartment, villa, duplex, clinic...) within a compound or residential area, and to compare different properties.
                    </app-text>
                    <app-text classes="bigSizeLowWeight gray-4 medium-line-height mb-3 mb-lg-5">
                        The site provides the use of filters to specify search results for real estate at a specific price, area, number of rooms, etc., which makes accessing the appropriate property easy and fast. <a href="https://amer.de.com" target="_blank">https://amer.de.com</a>
                    </app-text>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-9">
                    <img 
                        src="/assets/images/portfolio/proj-img1.png" 
                        alt="proj-img1" 
                        class="w-100">
                </div>
                <div class="col-12 col-lg-3">
                    <img 
                        src="/assets/images/portfolio/proj-img2.png" 
                        alt="proj-img2" 
                        class="w-100">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img 
                        src="/assets/images/portfolio/proj-img3.png" 
                        alt="proj-img3" 
                        class="w-100">
                </div>
                <div class="col-12 col-lg-6">
                    <img 
                        src="/assets/images/portfolio/proj-img4.png" 
                        alt="proj-img4" 
                        class="w-100">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img 
                        src="/assets/images/portfolio/proj-img5.png" 
                        alt="proj-img5" 
                        class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>