<section class="py-3 py-md-4 py-lg-5">
    <div class="py-3 py-lg-4">
        <img 
            class="w-100 mt-1"
            src="/assets/images/blogs/main-blog.png"
            alt="project">
        <div class="container pt-3 pt-md-4 pt-lg-5">
            <div class="row">
                <app-title-section>
                    <span blue-two-zero> 
                        These Budget Friendly Spring Decor Finds Will Have You Craving a Home Makeover.
                    </span>
                </app-title-section>
                <app-text classes="lowSizeBigWeight red-color mt-2">August 13, 2022</app-text>
                <app-text classes="bigSizeLowWeight gray-5 mb-3 mb-lg-4">
                    Kim Kardashian West needs no introduction. In the 14 years since she first graced our screens in Keeping Up With The Kardashians, she has built her KKW beauty empire, filmed her show, wrapped her show, become a billionaire, studied law, campaigned for the rights of death row inmates, travelled the world to attend events such as Paris Fashion Week, raised four children and launched her wildly successful shapewear brand SKIMS.
                </app-text>
                <app-text classes="bigSizeLowWeight gray-5 mb-3 mb-lg-4">
                    I’ve always been passionate about underwear and shapewear and have a huge collection from over the years! When it came to shapewear, I could never find exactly what I was looking for and I would cut up pieces and sew them together to create the style and compression I needed.
                </app-text>
                <img 
                    class="w-100 mt-1"
                    src="/assets/images/blogs/topic-blog.png"
                    alt="project">
                <app-title-section>
                    <span blue-two-zero> How did SKIMS start?</span>
                </app-title-section>
                <app-text classes="bigSizeLowWeight gray-5 mb-3 mb-lg-4">
                    This is such a hard question! Honestly, every time we drop a new collection I get obsessed with it. The pieces that have been my go-tos though are some of our simplest styles that we launched with. I wear our Fits Everybody Thong every single day – it is the only underwear I have now, it’s so comfortable and stretchy and light enough that you can wear anything over it.
                </app-text>
                <app-text classes="bigSizeLowWeight gray-5 mb-3 mb-lg-4">
                    For bras, I love our Cotton Jersey Scoop Bralette – it’s lined with this amazing power mesh so you get great support and is so comfy I can sleep in it. I also love our Seamless Sculpt Bodysuit – it’s the perfect all in one sculpting, shaping and smoothing shapewear piece with different levels of support woven throughout.
                </app-text>
            </div>
        </div>
    </div>
</section>
