$primary-color: #E51313;
$secondary-color-1: #173A73;
$secondary-color-2: #00519C;
$secondary-color-3: #081540;
$secondary-color-4: #091B37;
$secondary-color-5: #15376E;
$secondary-color-6: #750B0B;
$secondary-color-7: #1E2C4D;
$secondary-color-8: #041838;
$gray-color-1: #707070;
$gray-color-2: #454545;
$gray-color-3: rgba(69, 70, 54, 0.5);
$gray-color-4: #444444;
$gray-color-5: #828282;
$gray-color-6: #475467;
$gray-color-7: #45463680;
$gray-color-8: #EAEAEA;
$gray-color-9: #CEDCF0;
$gray-color-10: #EAECF0;
$gray-color-11: #4F4F4F;
$gray-color-12: #D0D5DD;
$gray-color-13: #E5E5E5;
$gray-color-14: #D4D4D4;
$white-color: #ffffff;
$black-color: #000000;
$black-color-2: #00203E;
$bg-section: #F7F7F7;
$bg-section-1: #F9FAFB;
$pagination: #F55E41;