<section class="py-3 py-md-4 py-lg-5 text-white">
    <div class="container text-center py-3 py-md-4 py-lg-5 px-lg-5">
        <p class="fs-1">Ready to work with us?</p>
        <p class="px-lg-5">We are committed to delivering top-notch consulting and design services with the priority of integrating clients' requirements whilst adhering to building standards. </p>
        <app-button
            buttonDesign="specialBtn"
            buttonType="button"
            classes="position-relative border-0 p-0 mt-4 white-over-btn"
            btnText="Get Start to contact Us"
            to="/contact-us"></app-button>
    </div>
</section>